Flask==3.0.3
Flask-CORS==5.0.0
yt-dlp==2024.10.7
python-dotenv==1.0.1
gunicorn==23.0.0
requests==2.32.3
urllib3==2.2.3
certifi==2024.8.30
pycryptodomex==3.20.0
secretstorage==3.3.3; sys_platform == 'linux'
keyring==25.5.0
telethon==1.36.0
cryptg==0.4.0